<a href="https://colab.research.google.com/github/sarikasea/Python/blob/main/4_Google_Easy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade gspread gspread_dataframe
import pandas as pd
import gspread
from google.oauth2.service_account import Credentials

from gspread_dataframe import get_as_dataframe
from google.colab import auth
auth.authenticate_user()
import gspread

Requirement already satisfied: gspread in /usr/local/lib/python3.11/dist-packages (6.2.1)
Requirement already satisfied: gspread_dataframe in /usr/local/lib/python3.11/dist-packages (4.0.0)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from gspread) (2.38.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.11/dist-packages (from gspread) (1.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from gspread_dataframe) (2.2.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from gspread_dataframe) (1.17.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.12.0->gspread) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.12.0->gspread) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.12.0->gspread) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread_dataframe) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread_dataframe) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread_dataframe) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->gspread_dataframe) (2025.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2025.7.14)

In [2]:
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)

In [4]:
sheet = gc.open('Python Summer Challenge').worksheet('Q4-1')
user_engagement_data = get_as_dataframe(sheet)
df = user_engagement_data
df

    user_id interaction_date  interaction_time  search_results_displayed
0    user_1       2024-07-05              35.5                      10.0
1    user_2       2024-07-10              22.3                       5.0
2    user_1       2024-07-05              35.5                      10.0
3    user_3       2024-08-01              48.0                      15.0
4    user_4       2024-08-15               NaN                      20.0
5    user_5       2024-09-05              60.2                      10.0
6    user_6       2024-10-10              12.0                       5.0
7    user_7       2024-11-20              80.0                      15.0
8    user_8       2024-12-31              55.0                      20.0
9    user_9       2025-01-15              75.5                      10.0
10  user_10       2025-02-20              30.0                       5.0
11   user_2       2024-07-10              22.3                       5.0
12  user_11       2025-03-01              92.5                      10.0
13  user_12       2025-03-05              15.0                      15.0
14  user_13       2025-03-10              45.3                      20.0
15  user_14       2025-03-15               5.0                       5.0
16  user_15       2025-03-20              68.0                      10.0
17  user_16       2025-03-25             110.0                      15.0
18  user_17       2025-04-01              29.9                      20.0
19  user_18       2025-04-05             150.0                      10.0
20  user_19       2025-04-10              33.3                       5.0
21  user_20       2025-04-15              25.0                      15.0
22  user_21       2025-04-20              40.0                      20.0
23  user_22       2025-04-25              85.5                      10.0
24  user_23       2025-04-30               NaN                       5.0
25  user_24       2025-05-05              55.5                      15.0
26  user_25       2025-05-10              65.0                      20.0
27  user_26       2025-05-15              70.0                      10.0
28  user_27       2025-05-20              95.0                       5.0
29  user_28       2025-05-25              50.0                      15.0
30  user_29       2025-06-01              88.0                      20.0
31  user_30       2025-06-05              42.0                      10.0
32  user_31       2025-06-10              37.0                       5.0
33  user_32       2025-06-15              82.0                      15.0
34  user_33       2025-06-20              20.0                      20.0
35  user_34       2025-06-25              90.0                      10.0
36  user_35       2025-06-29              77.0                       5.0
37  user_36       2025-06-30              66.6                      15.0
38  user_37       2024-07-15             100.0                      20.0
39  user_38       2024-07-20             110.5                      10.0
40  user_39       2024-08-05              35.0                       5.0
41  user_40       2024-08-10              59.9                      15.0
42  user_41       2024-08-15              47.3                      20.0
43  user_42       2024-08-20               NaN                      10.0
44  user_43       2024-09-01              68.5                       5.0
45  user_44       2024-09-05              72.7                      15.0
46  user_45       2024-09-10              55.5                      20.0
47  user_46       2024-09-15              62.0                      10.0
48  user_47       2024-09-20              40.0                       5.0
49  user_48       2024-09-25              85.0                      15.0
50  user_49       2024-10-01              95.0                      20.0
51  user_50       2024-10-05              33.3                      10.0
52  user_51       2024-10-10              44.4                       5.0
53  user_52       2024-10-15              88.8                      15.0
54  user_53       2024-10-20              76.5                      20.0
55  user_54       2024-10-25              90.0                      10.0
56  user_55       2024-10-30               NaN                       5.0
57  user_56       2024-11-01             101.0                      15.0
58  user_57       2024-11-05              59.0                      20.0

Identify and remove any duplicate entries in the dataset to ensure data quality. How many duplicates were found and removed?

In [5]:
initial_row_count = df.shape[0]
df_cleaned = df.drop_duplicates()
duplicates_removed_count = initial_row_count - df_cleaned.shape[0]

print(f"Number of duplicate entries found and removed: {duplicates_removed_count}")
df = df_cleaned

Number of duplicate entries found and removed: 2

After dropping duplicates, aggregate the data to find the average user interaction time for each number of search results displayed per page. What are the average interaction times?

In [6]:
average_interaction_time = df.groupby('search_results_displayed')['interaction_time'].mean()
print("Average interaction time for each number of search results displayed:")
display(average_interaction_time)

Average interaction time for each number of search results displayed:

search_results_displayed
5.0     41.625000
10.0    76.071429
15.0    67.107143
20.0    59.730769
Name: interaction_time, dtype: float64

Sort the aggregated results from Q2 to determine which number of search results per page has the highest average user interaction time. What is the optimal number of search results per page?

In [7]:
sorted_average_interaction_time = average_interaction_time.sort_values(ascending=False)
print("Average interaction time sorted in descending order:")
display(sorted_average_interaction_time)

Average interaction time sorted in descending order:

search_results_displayed
10.0    76.071429
15.0    67.107143
20.0    59.730769
5.0     41.625000
Name: interaction_time, dtype: float64